# Kafka
kafka-python==2.2.15

# Redis
redis==6.0.0

# PostgreSQL
psycopg2-binary==2.9.10
asyncpg==0.30.0

# FastAPI
fastapi==0.115.12
uvicorn[standard]==0.34.2

# Validation
pydantic==2.11.4

# Environment
python-dotenv==1.1.0

# Telegram
telethon==1.43.2

# Scraping
requests==2.32.3
beautifulsoup4==4.13.4
lxml==5.4.0
feedparser==6.0.11

# Optional async kafka (future)
# aiokafka==0.12.0

# ORM
sqlalchemy>=2.0.0

# Migrations
alembic>=1.13.0

# async kafka
aiokafka==0.14.0

# Dev mode
watchfiles==1.1.1

# OpenAI
openai==2.36.0

# http
aiohttp==3.13.5

# WebSocket (price_streamer)
websockets==13.1

# fuzzy
RapidFuzz==3.14.5

# feed
feedparser==6.0.11